@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-div {
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 6em;
  }
}
